data/Traditional-Chinese-Handwriting-Dataset-master/data/cleaned_data(50_50)-20200420T071507Z-001/
data/Traditional-Chinese-Handwriting-Dataset-master/data/cleaned_data(50_50)-20200420T071507Z-002/
data/Traditional-Chinese-Handwriting-Dataset-master/data/cleaned_data(50_50)-20200420T071507Z-003/
data/Traditional-Chinese-Handwriting-Dataset-master/data/cleaned_data(50_50)-20200420T071507Z-004/
data/MNIST_data/